[user]
	name = Chris Barrese
	email = chris.barrese@gmail.com
[global]
    name = Chris Barrese
[core]
	excludesfile = /Users/chris/.gitignore
[push]
    default = simple
[color]
    branch = auto
    diff = auto
    status = auto
[alias]
  co = checkout
  st = status
  out = outgoing
  inc = incoming
  pager = less -F -E -X -m
  list-branch-tests = "! git diff --diff-filter=ACMRTUXB --name-only develop -- spec test | egrep '_(spec|test).rb' "
  list-outgoing-tests = "! git diff --diff-filter=ACMRTUXB --name-only `git-tracking-name` -- spec test | egrep '_(spec|test).rb' "
  list-changed-tests = "! git diff --diff-filter=ACMRTUXB --name-only HEAD -- spec test | egrep '_(spec|test).rb' "
  lol = log --pretty=oneline --abbrev-commit --graph --decorate
  rms = "!f(){ git rm --cached \"$1\";rm -r \"$1\";git config -f .gitmodules --remove-section \"submodule.$1\";git config -f .git/config --remove-section \"submodule.$1\";git add .gitmodules; }; f"
  inc = !(git fetch --quiet && git log --pretty=oneline --abbrev-commit --graph ..$(git rev-parse --abbrev-ref --symbolic-full-name @{u}))

[merge]
    tool = intellij
[mergetool "intellij"]
    cmd = idea merge $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE") $(cd $(dirname "$BASE") && pwd)/$(basename "$BASE") $(cd $(dirname "$MERGED") && pwd)/$(basename "$MERGED")
    trustExitCode = true
[diff]
    tool = intellij
[difftool "intellij"]
    cmd = idea diff $(cd $(dirname "$LOCAL") && pwd)/$(basename "$LOCAL") $(cd $(dirname "$REMOTE") && pwd)/$(basename "$REMOTE")


